.post-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.post-card h2 {
  margin-bottom: 10px;
}

.post-card h4 {
  font-weight: normal;
  margin-top: 0;
}

.post-card p {
  margin-top: 20px;
}

.post-card img {
  margin-top: 20px;
  max-width: 100%;
}

.form-btn {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}
